<form id="secret-form" action="<%= secrets_url %>" method="post" accept-charset="utf-8" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
  <input type="hidden" name="secret[recipient_id]" value="<%= locals[:recipient_id] %>" id="secret[recipient_id]">

  <label for="secret_title">Secret</label><input type="text" name="secret[title]" id="secret_title">

  <p><input id="submit-secret" type="submit" value="Continue &rarr;"></p>
</form>