<form id="secret-form" action="<%= secrets_url %>" method="post" accept-charset="utf-8" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
  <input type="hidden" name="secret[recipient_id]" value="<%= locals[:recipient_id] %>" id="secret[recipient_id]">

  <label for="secret_title">Secret</label>
  <input type="text" name="secret[title]" id="secret-title">
  <br><br>
  <select id="tags">
  </select>
  <p>
  <a href="">Add Another Tag!!</a>
</p>
  <p><input id="submit-secret" type="submit" value="Continue &rarr;"></p>
</form>

<script type="application/json" id="bootstrapped_tags">
  { "tags": <%= Tag.all.to_json.html_safe %> }
</script>

<script type="application/javascript">
   var tags = JSON.parse($("#bootstrapped_tags").html());
   tags = tags["tags"];
   var $tagSelector = $('#tags');
   for(var i = 0; i < tags.length; i++){
     $tagSelector.append(
       '<option value="'+
       tags[i]['id']+
       '">' +
       tags[i]['name'] +
       '</option>')
   }

   var addSecretTagSelect = function() {

   }
</script>

<script type="text/template" id="option-template">
  <select id="tags">
  <%% _(tags).each( function (tag) { %>
    <option> <%%= tag.name %> </option>
    <%% }); %>
  </select>
</script>


