<% if action == :edit %>
	<form action="<%= note_url(note) %>" method="post" accept-charset="utf-8">
		<input type="hidden" name="_method" value="PUT">
<% elsif action == :new %>
	<form action="<%= notes_url %>" method="post" accept-charset="utf-8">
		<input type="hidden" name="note[track_id]" value="<%= track_id %>">
<% end %>

<input type="hidden"
			 name="authenticity_token"
			 value="<%= form_authenticity_token %>">

<b>Note:</b><br>
<textarea name="note[body]"></textarea>

<p><input type="submit" value="Submit &rarr;"></p>

</form>