<html>
<head><title>New post | Ruby on Wires blog engine</title></head>
<body>
<form action="/posts" method="post" accept-charset="utf-8">
	<label for="title"><strong>Title</strong></label>
	<input type="text" name="post[title]" id="title"><br><br>
	<label for="body"><strong>Body</strong></label><br>
	<textarea rows="30" cols="70" name="post[body]" id="body"></textarea><br><br>
	<label for="author_id"><strong>author id#</strong></label>
	<input type="text" name="post[author_id]" id="author_id"><br>

	<p><input type="submit" value="Submit Post &rarr;"></p>
</form>
</body>
</html>