<html>
<head><title><%= @post.title %> | Ruby on Wires blog engine</title></head>
<body>
<h1><%= @post.title %></h1>

<%= @post.body %>

<em>posted by user#<%= @post.author_id %></em>

</body>
</html>