<p>Hello dear Friend Circle user!!</p>

<p>Someone has requested a password-reset for this account!</p>

<p>You can visit <%= link_to @url, @url %> to be logged in so you can change your password right away</p>