<ul>
<% @users.each do |user|%>
<li>
  <h4><%=user.username%></h4>
    <%if Friendship.can_friend?(current_user.id, user.id)%>
    <%= render 'friendships/form', :locals => {:user_id => user.id } %>
    <%end%>
</li>
<% end %>
</ul>