<h3>Edit user info!</h3>
<form action="<%= user_url(@user.id) %>" method="post" accept-charset="utf-8">
	<input type="hidden" name="_method" value="put">
		<input type="hidden"
					 name="authenticity_token"
					 value="<%= form_authenticity_token %>">

		<label for="email"><b>Email:</b> </label>
		<input type="text" name="user[email]" id="email" value="<%= @user.email %>" placeholder="email">
		<br>
		<label for="password"><b> New Password:</b> </label>
		<input type="password" name="user[password]" id="password" placeholder="new password">
		<br>
		<label for="confirm_password"><b>Confirm new password:</b> </label>
		<input type="password" name="confirm_password" id="confirm_password" placeholder="retype new password">

	<p><input type="submit" value="Edit the Friend Circle user info!"></p>
</form>