<form>
<input id="title" name="title" type="text" placeholder="the title of the post"><br><br>
<textarea id="body" name="body" rows="15" cols="45" placeholder="the body of the post"></textarea><br><br>
<input id="submit-button" type="submit">
</form>