<form class="new_paste" action="submit" method="POST" accept-charset="utf-8">
  <label for=>Title</label>
  <br>
  <input type="text" name="paste[title]">
  <br>
  <label>Body:</label>
  <br>
  <textarea name="paste[body]" rows="15" cols="50"></textarea>
  <p><input type="submit"></p>
</form>