<h3 class="paste-title"><%= paste.get('title') %></h3>

<div class="paste-body" data-id="<%= paste.get('id')%>" ><%= paste.get('body')%>
  <br>
  <button class="favorite-button" >Favorite</button>
</div>
