/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color:#CCCCCC;
}

h1 {
  font-family: 'Tangerine';
	font-size: 70px;
	background-color:#EEFFCC;
}

h1 a{
	color:#000000;
	text-decoration:none;
}

.flash {
	font-style:italic;
	font-weight:bold;
}

.flash.errors {
	color:#AA0000;
	background-color:#FFCCDD;
}

.flash.messages {
	color: #007030;
	background-color: #CEEECC;
}

.buttonlink {
	font-size: 20px;
	background-color: #DDDDFF;
}

.buttonlink a{
	color:#000000;
	text-decoration:none;
	font-weight:bold;
}


